# MongoDB Configuration
MONGODB_URI=mongodb://localhost:27017
DATABASE_NAME=gdg_db
USERS_COLLECTION=users
CAMPAIGNS_COLLECTION=mails

# SMTP Configuration
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
SENDER_ADDRESS=
SMTP_PASSWORD=

# Security
UNSUBSCRIBE_SECRET_KEY=your-secret-key-here

# Environment
ENV=development
