@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
	background-color: #f9fafb;
	color: #111827;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: "Roboto", "Noto Sans", sans-serif;
}
